<!DOCTYPE html>
<html>
  <head>
    <title>PingSquash</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.0.6.js"></script>
  </head>
  <body onload="init();">
    <h1>PingSquash</h1>
    <input type="text" id="player" />
    <canvas id="myCanvas"></canvas>
    <div id="player1Bat"></div>
    <div id="player2Bat"></div>
  </body>
  <script type="text/javascript" src="javascripts/global.js"></script>
</html>
