body
  padding: 0px
  font: 14px "Helvetica", Arial, sans-serif;


a
  color: #00B7FF

#myCanvas
  z-index :1;
  cursor: none;
#player1Bat
  color: #ff0000;
  background-color: #ff0000;
  width:15px;
  height: 80px;
  position: absolute;
  z-index:200;

#player2Bat
  color: #0000ff;
  background-color : #0000ff;
  width:15px;
  height: 80px;
  position: absolute;
  z-index:200;